/* main css */

body.section-homepage-content.subsection-key-features #content-core li {
    display: block;
    width: 19%;
    float: left;
    margin-left: 1%;
}

body.section-homepage-content.subsection-key-features #content-core li:first-child {
    width: 20%;
    margin-left: 0;
}